
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #d1e5d9 !important;
  background-image: url('https://ahost2.bulbagarden.net/content/bulbagarden/images/bg-green-2x-optim.png'), linear-gradient(180deg, #e5f1ec 0%, #e5f1ec 322px, #d1e5d9 322px) !important;
  background-repeat: no-repeat !important;
  background-position: center 83px, 0 0 !important;
  background-size: 2250px, auto !important;
}
a:link {
  text-decoration: none!important;
  color: #000!important;
}
a:visited {
  text-decoration: none!important;
  color: #000!important;
}
a:hover {
  text-decoration: none!important;
  color: #000!important;
}
a:active {
  text-decoration: none!important;
  color: #000!important;
}
img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 400px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #A8A878 0%, #49493a 100%);
  box-shadow: 0px 5px 20px -10px #848484;
}
.card--normal .card__type {
  background-color: #A8A878;
}
.card--bug {
  background: linear-gradient(110deg, #A8B820 0%, #2d4100 100%);
  box-shadow: 0px 5px 20px -10px #2d4100;
}
.card--bug .card__type {
  background-color: #A8B820;
}
.card--poison {
  background: linear-gradient(110deg, #A040A0 0%, #3d0036 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--poison .card__type {
  background-color: #A040A0;
}
.card--ground {
  background: linear-gradient(110deg, #E0C068 0%, #3d1f00 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--ground .card__type {
  background-color: #E0C068;
}
.card--fighting {
  background: linear-gradient(110deg, #C03028 0%, #3d0000 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--fighting .card__type {
  background-color: #C03028;
}
.card--rock {
  background: linear-gradient(110deg, #B8A038 0%, #2c2c00 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--rock .card__type {
  background-color: #B8A038;
}
.card--ghost {
  background: linear-gradient(110deg, #705898 0%, #1e003d 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--ghost .card__type {
  background-color: #705898;
}
.card--dragon {
  background: linear-gradient(110deg, #7038F8 0%, #12003d 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--dragon .card__type {
  background-color: #7038F8;
}
.card--steel {
  background: linear-gradient(110deg, #B8B8D0 0%, #2c2c2c 100%);
  box-shadow: 0px 5px 20px -10px #3d0036;
}
.card--steel .card__type {
  background-color: #B8B8D0;
}
.card--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card--water .card__type {
  background-color: #1CB5E0;
}
.card--electric {
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card--electric .card__type {
  background-color: #000;
}
.card--fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}
.card--fire .card__type {
  background-color: #c71800;
}
.card--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
.card--psychic .card__type {
  background: #ff2cc3;
}
.card--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card--dark .card__type {
  background: #5c0249;
}
.card--grass {
  background: linear-gradient(140deg, #78C850 69%, #275009 100%);
}
.card--grass .card__type {
  background: #78C850;
}
.card--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card--ice .card__type {
  background: #6fb8eb;
}
.card--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card--fairy .card__type {
  background: #ff8a95;
}
/* .card {
  transform: translateY(0px) rotate(4deg);
} */
.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  transform: translateY(-10px);
}